body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
  }
  
  header {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
  }
  
  header img {
    height: 30px;
  }

  .logo {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #e50914;
    text-decoration: none;  
  }
  .sign-out {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
  
  .container {
    text-align: center;
    padding: 135px;
    max-width: 600px;
    margin: 140px auto;
  }
  
  .step {
    font-size: 13px;
    color: gray;
    margin-bottom: 10px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .desc {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
  }
  
  .email {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .next-btn {
    background-color: #e50914;
    color: white;
    border: none;
    padding: 15px 40px;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  footer {
    background-color: #f3f3f3;
    padding: 40px 50px;
    font-size: 13px;
    color: #555;
  }
  
  .footer-content {
    max-width: 900px;
    margin: auto;
    text-align: justify;
  }
  
  .footer-call {
    margin-bottom: 20px;
  }
  
  .footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .language-select select {
    padding: 7px;
    font-size: 14px;
  }
  